g-header.ag-pivot-off.ag-header-allow-overflow {
  /* background: #032b9f!important; */
  color: #ffffff !important;
}

span.ag-icon.ag-icon-filter {
  color: #fff !important;
}

span.ag-header-cell-text {
  color: #fff !important;
}
.ag-header.ag-header-allow-overflow .ag-header-row {
  background-color: #1230ae !important;
}


