.formTitle {
  text-align: left;
  color: #3b3e86;
  font-weight: 500 !important;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem !important;
}
.main {
  height: auto;
  width: 1050px;
}